[Unit]
Description=BubbleTube Service
Requires=pigpiod.service

[Service]
ExecStart=/home/pi/bubbletube/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

